body{
    background-color: greenyellow;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.py-4
{
    width: 75%;
    margin: 0 auto;
}

footer
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 255, 0);
    text-align: center;
    padding: 5px;
}

#navigation-menu
{
   width: 80%;
   height: 10vh;
   padding: 0;
}

#navigation-menu button
{
    border: none;
    width: 11%;
    outline: none;
    margin: 2vh auto;
    height: 5vh;
}

#navigation-menu button:hover
{
    background-color: green;
    color: white;
    cursor: pointer;
}

#laravel-navbar
{
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 0;
    display: block;
}

#laravel-navbar div
{
    margin: 0;
    padding: 0;
    width: 100%;
}

#shopping-cart-btn
{
    background-color: blue;
    height: 6vh;
    padding: 1vh;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    top: 2vh;
    right: 2vh;
}

#shopping-cart-btn:hover
{
    cursor: pointer;
    background-color: cyan;
}

#navigation-menu ul
{
    width: 100%;
    margin: 0;
    padding: .5%;
}

.homeadd
{
    width: 35%;
    grid-area: 9/2/11/5;
    margin: 0 auto;
}

.homeadd input
{
    width: 100%;
    background-color: blue;
    font-size: 3vh;
    border: none;
    outline: none;
    border-radius: 3vh;
    color: yellow;
}

.homeadd input:hover
{
    background-color: lime;
    color: black;
    cursor: pointer;
}

.mycontainer
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

.mycontainer h2
{
    font-size: 3vh;
}

.mycontainer a
{
    text-decoration: none;
    color: black;
}

.product-container
{
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(10, 10%);
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 350px;
    background-color: yellow;
}

.product-container p
{
    width: 100%;
    text-align: center;
    grid-area: 8/1/9/6;
    margin: 0;
    font-size: 1.3vh;
    
}

.product-container img
{
    grid-area: 1/1/7/7;
    width: 100%;
    height: 100%;
}

.product-container:hover
{
    background-color: orange;
    cursor: pointer;
}

#prod-afbeelding
{
    grid-area: 1/2/3/3;
    width: 25vh;
    height: 25vh;
    margin: auto;
    background-color:  blue;
    border-radius: 40px;
}

#detail-container
{
    margin-top: 15vh;
    display: grid;
    grid-template-rows: 25vh 25vh 25vh;
    grid-template-columns: 33.3% 33.3% 33.3%; 
}

#prod-naam
{
    grid-area: 1/1;
    text-align: center;
}

#prod-prijs
{

    grid-area: 2/1;
    margin: auto;
}

#prod-beschrijving
{
    grid-area: 3/1;
    margin: auto;
}

.shopping-cart
{
    grid-area: 2/3;
    margin: auto;
    width: 20%;
    border-radius: 50px;
    padding: 10px;
    transition: .3s;
    border: none;
    font-size: 300%;
    background-color: yellow;
    outline: none;
}

.shopping-cart img
{
    width: 100%;
}

.shopping-cart:hover
{
    background-color: blue;
    cursor: pointer;
}

#shopping-cart-text
{
    grid-area: 1/3;
    
}

#cartcount
{
    background-color: yellow;
    padding: 1vh;
    margin: 0;
    text-align: center;
    font-size: 2vh;
    line-height: .8vh;
    position: fixed;
    right: 6vh;
    top: 6vh;
    z-index: 2;
}

#amountext
{
    grid-area: 3/3;
    text-align: center;
}

#amount
{
    grid-area: 3/3;
    margin: auto;
}

.cart-prod-container
{
    background-color: yellow;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-size: 2vh;
    width: 100%;
}

.cart-prod-container img
{
    width: 12vh;
    height: 100%;
    grid-area: 1/1;
    margin: auto;
}

.cart-prod-name
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2vh;
    grid-area: 1/2;
}

.cart-prod-qty
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2vh;
    grid-area: 1/3;
}

.cart-prod-price
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3vh;
    grid-area: 1/5;
}

.cart-prod-price2
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2vh;
    grid-area: 1/5;
    margin: 9vh 0 0 0;
}

#cart-container-container
{
    margin: 10vh 5%;
}

#cart-total-container
{
    background-color: yellow;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-size: 2vh;
    width: 100%;
}

#cart-ttl-name
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3vh;
    grid-area: 1/1;
}

#cart-ttl-price
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3vh;
    grid-area: 1/2;
}

#cart-amount-name
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3vh;
    grid-area: 1/4;
}

#cart-amount-qty
{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 3vh;
    grid-area: 1/5;
}


#min-qty
{
    margin: 3vh 0;
    width: 4vh;
    height: 4vh;
    grid-area: 1/4;
}

#add-qty
{
    margin: 3vh 35%;
    width: 4vh;
    height: 4vh;
    grid-area: 1/4;
}

#min, #add
{
    border: none;
    border-radius: 40%;
    font-size: 2vh;
    background-color: blue;
    width: 4vh;
    height: 4vh;
    outline: none;
}

#min:hover
{
    background-color: red;
    cursor: pointer;
}

#add:hover
{
    background-color: lime;
    cursor: pointer;
}

#remove-prod
{
    grid-area: 1/4;
    margin: 2vh 10% 3.5vh 70%;
    width: 4vh;

}

#remove-prod input
{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 4vh;
    border-radius: 10%;
    background-color: maroon;
    outline: none;
}
#remove-prod input:hover
{
    cursor: pointer;
    color: white;
    background-color: black;
}

#order-link
{
    grid-area: 1/3;
    background-color: lime;
    padding: 4vh 5px;
    border-radius: 20px;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    color: black;
    border: none;
    outline: none;
    
}

.empty-cart-title
{
    margin: 15vh 0;
    text-align: center;
}

#order-link:hover
{
    cursor: pointer;
    background-color: green;
    color: white;
}

#customer-details-div
{
    display: grid;
    grid-template-rows: repeat(10, 10%);
    background-color: yellow;
    width: 65%;
    height: 80vh;
    margin: 10vh auto 2vh auto;
    padding: 10px;
    text-align: center;
}

#customer-details-div p
{
    grid-area: 1/1;
    font-size: 3vh;
    margin: 0 auto;
}

#customer-details-div input
{
    float: right;
    margin: 6.5%;
}

#customer-details-div label
{
    float: left;
    margin: 6%;
}

#finish-order
{
    border: none;
    font-size: 3vh;
    padding: 15px;
    background-color: blue;
    border-radius: 10px;
    margin: 3vh 0 0 0 !important;
    float: none !important;
    outline: none;
}

#finish-order:hover
{
    background-color: rgb(255, 0, 242);
    cursor: pointer;
}

#backbtn button
{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    background-color: blue;
    border: none;
    margin: 10vh 0 0 5%;
    padding: 10px;
    border-radius: 10px;
}

#backbtn button:hover
{
    background-color: brown;
    color: white;
    cursor: pointer;
}

#errmsg
{
    font-size: 2vh !important;
    color: red;
    margin-top: 4vh !important;
}

#completext
{
    margin: 20vh 30%;
    text-align: center;
    background-color: yellow;
    padding: 20px;
    font-size: 4vh;
}

#login-register-btn
{
    position: relative;
    right: 0;
}
.login-kaartje
{
    background-color: yellow;
    border-radius: 0 0 60px 60px;
    width: 100%;
}

#biglogin
{
    margin: 20vh auto;
}

#bigreg
{
    margin: 20vh auto;
}

#ingelogt
{
    background-color: yellow;
    font-size: 4vh;
}

.card
{
    margin: 10vh 0 0 0 ;
}

#orders-container
{
    margin: 10vh auto;
    width: 95%;
    background-color: yellow;
    padding: 10px;
    text-align: center;
    outline: none;
}

#orders-container p
{
    font-size: 4vh;
}

#orders-container table
{
    font-size: 5vh;
    color: blue;
    margin: 0 auto;
    width: 90%;
}

#orders-container a
{
    height: 1vh;
    outline: none;
}

.kruisje
{
    font-size: 1.5vh;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
    border: none;
    outline: none;
    vertical-align: middle;
    margin: 0 0 0 10%;
    outline: none;
}

.kruisje:hover
{
    cursor: pointer;
    background-color: maroon;
    color: black;
}

.theaders
{
    border: solid;
    border-width: 5px;
    border-color: black;
}

.trecords
{
    border: solid;
    border-width: 3px;
    border-color: black;
}

#goToOrders
{
    margin: 20vh 35%;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    font-size: 2vh;
}

#goToOrders:hover
{
    background-color: blue;
    cursor: pointer;
    text-decoration: none;
}

#gotoLink
{
    text-decoration: none;
    color: black;
}